---
import Layout from '../layouts/Layout.astro';
import StudentQR from '../components/StudentQR'
---

<Layout>
	<body>
		<main class="page">
			<h1>Student ID QR</h1>
			<p class="page__sub">Generate qr code for a student, with scanner</p>
		
			<StudentQR client:only="react" />
		</main>
  </body>
</Layout>